.aside {
  width: 32px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 16px;
}

.leadingLine {
  min-width: 2px;
  max-width: 2px;
  min-height: 192px;
  max-height: 192px;
  background-color: var(--orangTransparent);
  margin-bottom: 16px;
}

.leadingLine:hover {
  background-color: var(--orangBright);
}
