.nav {
  max-height: 64px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin: 0 24px;
  font-size: 32px;
}

.link:hover {
  border-bottom: solid 4px;
  border-color: rgb(241, 134, 53);
}
