.rAside {
  width: 32px;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: fixed;
  bottom: 0px;
  right: 16px;
}

.bottomLine {
  min-width: 2px;
  max-width: 2px;
  min-height: 192px;
  max-height: 192px;
  background-color: var(--orangTransparent);
  margin-top: 16px;
}

.bottomLine:hover {
  background-color: var(--orangBright);
}

.email {
  border: none;
  background-color: black;
  padding: 0px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  padding-left: 4px;
  color: var(--orangBright);
}

.email:hover {
  cursor: copy;
}
